.header {
	display:inline;
	font-size: 14px;
	font-family: Arial, sans-serif;
	text-align:right;
	height:26px;
	margin: 10px 20px;
	position:absolute;
	right:10px;
	top:10px;
}

.top-spacer {
	max-width:80%;
	display:inline-block;
}

.hlink {
	text-decoration:none;
	color:#777;
}

.hlink:hover {
	cursor:pointer;
	color:#000;
}

.wlink:hover {
	text-decoration:underline;
}

.signin:hover {
	cursor:default;
}

.signin {
	display:inline-block;
	background-color:#37f;
	color:#fff;
	font-weight:bold;
	padding: 7px;
	width:55px;
	text-align:center;
}

.w {
	width:40px;
	text-align:center;
	display:inline-block;
}

.ninsq:hover {
	cursor:pointer;
	text-decoration:none;
}

.ninsq {
	display:block;
	height:24px;
	position:relative;
	top:-6px;
}

.sqline {
	display:inline-block;
	height:8px;
	margin: 0;
	padding: 0;
}

.sql-l {
	display:inline-block;
	margin: 1px;
	position:relative;
	left:-6px;
}

.sql-m {
	display:inline-block;
	margin: 1px;
	position:relative;
}

.sql-r {
	display:inline-block;
	margin: 1px;
	position:relative;
	left:6px;
}

.sql1 {
	display:inline-block;
	margin: 1px;
	position:relative;
	top:-15px;
}

.sql2 {
	display:inline-block;
	margin: 1px;
	position:relative;
	top:-9px;
	left:-6px;
}

.sql3 {
	display:inline-block;
	margin: 1px;
	top:-3px;
	left:-12px;
	position:relative;
}

.ninesq:hover .sq {
	background-color:#000;
}

.sq {
	display:inline-block;
	background-color:#777;
	width:4px;
	height:4px;
	margin: 10px;
	padding: 0;
	position:absolute;
}


.middle {
	margin: 0 auto;
	text-align:center;
}

.logo {
	width:272px;
	padding-top:197px;
}

#gsearch {
}

input[type=text] {
	width:403px;
	padding: 10px;
	margin: 25px;
	box-shadow: 2px 2px 5px #aaa;
	border:none;
	outline:none;
}

input[type=submit] {
	padding: 10px 15px;
	margin: 3px 3px;
	background:#eee;
	border:1px solid #eee;
	font-weight:bold;
	color:#555;
}

input[type=submit]:hover {
	border: 1px solid #aaa;
	box-shadow: 0 1px 1px #aaa;
	color:#000;
	background:#eee;
}

.footer {
	width:110%;
	background-color:#eee;
	position:fixed;
	left:-5%;
	bottom:-10px;
	height:50px;
}