<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		
		<p> Guess a Number between 0 and 100 </p>
		
		<form>
			<input type="text" name="guess">
			<input type="submit" value="Guess!">
		</form>
		
		<%= output %>

	</body>
</html>
