html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
	color:#fff;
}
.bg-blue {
    background-color:#77f;
}
.bg-red {
    background-color:#f77;
}
.timer-group {
    position:relative;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    width:480px;
	border: 2px solid #fff;
	border-radius: 15px;
}

.timer {
    position:relative;
    top:55px;
    height:180px;
    width:180px;
    font-size:36px;
    padding: 40px 15px 0 15px;
    margin:10px auto 10px auto;
    border-radius: 100% 100% 100% 100%;
    text-align:center;
    border: 3px solid #fff;
}
#Timer:hover {
	cursor:pointer;
	border: 3px solid #ddd;
	color: #ddd;
}

#Timer:active {
	border: 3px solid #aaa;
	color: #aaa;
}
#set-break,#set-time,#set-long-break {
    position:relative;
    padding: 10px;
    margin:10px auto;
    font-size:20px;
    font-weight:bold;
    display:inline-block;
    width:120px;
}
.left {
    float:left;
}
.center {
    float:center;
}
.right {
    float:right;
}
.less-time,.more-time,#time {
    display:inline;
}
.less-break,.more-break,#break,#long-break {
    display:inline;
}
.less-break:hover,.more-break:hover {
    color:#aaa;
}
.less-time:hover,.more-time:hover {
    color:#aaa;
}
.click:hover {
	cursor:pointer;
}
#reset {
	border: 2px solid #fff;
	position: relative;
    top:20px;
	padding: 3px 5px;
	width:65px;
	text-align:center;
	margin: 15px auto;
	border-radius: 5%;
	box-shadow: 2px 2px #666;
}
#reset:hover {
	cursor: pointer;
	border: 2px solid #ddd;
	color: #ddd;
}

#reset:active {
	box-shadow: -2px -2px #666;
}

.in-use {
	border: 2px solid #fff;
	border-radius: 5px;
}

.spacing {
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
	display: inline;
}

.row {
    margin: 0 auto 0 auto;
    width:480px;
	display: block;
	text-align: center;
}

.bullet-yellow {
	background-color: #ff0;
}

#block-1, #block-2, #block-3 {
	position: relative;
	top: 23px;
	left: 50px;
	width: 4px;
	height: 4px;
	margin: 2px;
	border-radius: 100%;
}


